* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
} 
.sec1 {
    width: 100%;
    height: 840px;
    background-color: #81b0df;
}
.sec1 .header {
    width: 100%;
    height: 100px;
}
.sec1 .header .navigation {
    width: 90%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.sec1 .header .navigation .logo {
    width: 16%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sec1 .header .navigation .logo h1 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.801);
}
.dot {
    width: 5px;
    height: 5px;
    background-color: rgb(255, 119, 69);
    border-radius: 50%;
    margin: 10px 3px 0 3px;
}
.sec1 .header .navigation .menu {
    width: 40%;
    height: inherit;
}
.sec1 .header .navigation .menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sec1 .header .navigation .menu ul li a {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.808);
    transition: 0.6s;
}
.sec1 .header .navigation .menu ul li a:hover {
    color: rgb(255, 98, 42);
}
li, a {
    text-decoration: none;
    list-style: none;
}
.sec1 .left-header {
    width: 260px;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sec1 form {
    width: 210px;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius:30px;
    background-color: white;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.069);
}
.sec1 form input {
    border: none;
    width: 100px;
    background-color: transparent;
    outline: none;
}
.sec1 form .icon {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.shop-icon {
    width: 30px;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.801);
    font-size: 22px;
}
.sec1-container {
    width: 85%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sec1-container .electric-skateboard {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}
.sec1-container .electric-skateboard .title h1 {
    font-size: 90px;
    font-weight: 800;
    color: rgba(8, 2, 2, 0.897);
    z-index: 2;
}
.sec1-container .electric-skateboard .decoration {
    position: absolute;
    z-index: -1;
    left: 198px;
    width: 110px;
}
.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    line-height: 2.8ch;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.644);
}
.description .text {
    width: 100%;
    padding-left: 60px;
}
.description .price {
    font-size: 40px;
    color: rgba(8, 2, 2, 0.897);
    background-color: white;
    padding: 13px;
    border-radius: 10px;
}
.electric-skateboard .bottom {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.electric-skateboard .bottom .button {
    padding: 25px 45px;
    background-color: rgb(255, 116, 35);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    margin-right: 30px;
    border: 4px solid transparent;
    transition: 0.7s;
}
.electric-skateboard .bottom .button:hover {
    background-color: transparent;
    color: rgb(255, 116, 35);
    border: 4px solid rgb(255, 116, 35);
}
.video-icon {
    width: 43%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:  start;
    align-items: center;
}
.video-icon h4 {
    color: rgba(0, 0, 0, 0.849);
}
#video-open {
    display: none;
}
.video {
    display: none;
}
#video-open:checked ~ .video {
    width: 200px;
    height: 300px;
    display:flex;
    position: fixed;
    left: 43%;
    top: 44%;
    z-index: 3;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.863);
    background-color: rgba(0, 0, 0, 0.863);
}
.sec1-container .image {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1-container .image .circle {
    width: 455px;
    height: 455px;
    background: linear-gradient( #ffcb43, #ffcb43) padding-box,
    linear-gradient(to right, rgba(255, 255, 255, 0.89), #e6e2e6) border-box;
    border-radius: 50em;
    border: 70px solid transparent;
    position: relative;
}
.hand-skate {
    position: absolute;
    transform: rotate(-92deg);
    left: 39px;
    top: -58px;
    width: 300px;
    transition: 0.7s;
}
.battery {
    width: 120px;
    position: absolute;
    top: -139px;
    transform: translateX(560px);
    transition: 0.7s;
    opacity: 0;
}
.sec1-container .image .circle .skate {
    width: 690px;
    position: absolute;
    top: 119px;
    left: -110px;
    transform: rotate(-25deg);
    transition: 0.7s;
}
.battery1 {
    position: absolute;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(-40deg);
    top: -10.5%;
}
.battery1 img{
    width: 160%;
    
}
.sec1-container .battery-duration {
    position: absolute;
    bottom: -11%;
    right: -55%;
    width: 290px;
    height: 105px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    transition: 0.7s;
}
.sec1-container .battery-duration img {
    width: 85px;
    background-color: rgba(129, 224, 110, 0.158);
    padding: 15px;
    border-radius: 10px;
}
.sec1-container .battery-duration .text h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.795);
    line-height: 3ch;
}
.sec1-container .battery-duration .text h4 {
    color: rgba(0, 0, 0, 0.555);
}
.sec1-container .image .circle:hover .skate {
    transform: rotate(1deg);
}
.sec1-container .image .circle:hover .hand-skate {
    transform: rotate(10deg);
    transform: translate(193px, -209px);
}
.sec1-container .image .circle:hover .battery {
    opacity: 1;
    transform: translateX(350px);
}
.sec1-container .image .circle:hover .battery-duration {
    opacity: 0;
}
.sec2 {
    width: 100%;
    height: 640px;
    background-color: #e6e2e6;
    display: flex;
    align-items: center;
}
.sec2-container {
    position: relative;
    width: 85%;
    height: 400px;
    background-color: #1f2130;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 709px 90px;
    border-top-right-radius: 74px 77px;
    z-index: 1;
}
.sec2-container:hover .arrow{
    filter: drop-shadow(0px 0px 3px white);
}
.sec2-container:hover .wifi-icon{
    color: white;
    filter: drop-shadow(0px 0px 4px white);
}
.sec2-container:hover .forward::before {
    width: 100%;
    border-radius: 20px;
    opacity: 1;
}
.sec2-container:hover .forward::after {
    width: 100%;
    transform: translateX(-100%);
    opacity: 1;
}
.sec2-container:hover .backlight::before {
    right: 0;
    width: 100%;
    opacity: 1;
}
.sec2-container:hover .backlight::after {
    width: 100%;
    opacity: 1;
}
.sec2-container .slant{
    position: absolute;
    width: 100%;
    height: 52px;
    top: -20px;
    background-color: #e6e2e6;
    padding-left: 200px;
    transform: rotate(-2.9deg);
    z-index: -1;
}
.sec2-container .ease {
    position: absolute;
    top: -10%;
    width: 60px;
    transform: rotate(35deg);
    opacity: 0.1;
}
.sec2-container .arrow {
    position: absolute;
    width: 60px;
    left: 55%;
    top: 20%;
}
.sec2-container .curve-left {
    position: absolute;
    top: -17%;
    left: 20%;
    width: 37px;
    transform: rotate(50deg);
}
.sec2-container .curve-center {
    position: absolute;
    top: -21%;
    left: 23%;
    width: 62px;
    transform: rotate(6deg);
}
.sec2-container .curve-right {
    position: absolute;
    top: -14%;
    left: 24%;
    width: 35px;
}
.hand2 {
    position: absolute;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.897);
    top: 33%;
    left: -3%;
}
.hand2 img{
    width: 115%;
}
.sec2-container .skate-back {
    position: absolute;
    left: 15%;
    width: 130px;
    z-index: 3;
    filter: drop-shadow(0px 20px 7px rgba(0, 0, 0, 0.205));
}
.sec2-container .title {
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    color: white;
    left: 30%;
    top: 25%;
}
.sec2-container .forward {
    position: relative;
    position: absolute;
    width: 160px;
    left: 40%;
    top: 55%;
}
.sec2-container .forward::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: white;
    box-shadow: 0 0 10px 2px white;
    transition: 0.9s;
    opacity: 0;
}
.sec2-container .forward::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: 95%;
    background-color: white;
    box-shadow: 0 0 10px 2px white;
    transition: 0.9s;
    opacity: 0;
}
.sec2-container .forward img {
    width: 100%;
    border-radius: 20px;
}
.sec2-container .backlight {
    position: absolute;
    width: 160px;
    left: 56%;
    top: 44%;
}
.sec2-container .backlight img {
    width: 100%;
    border-radius: 20px;
}
.sec2-container .backlight::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: white;
    box-shadow: 0 0 10px 2px white;
    transition: 0.9s;
    opacity: 0;
}
.sec2-container .backlight::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: 95%;
    background-color: white;
    box-shadow: 0 0 10px 2px white;
    transition: 0.9s;
    opacity: 0;
    left: 0;
}
.backlight-text {
    position: absolute;
    left: 70%;
    top: 54%;
    font-size: 20px;
    color: rgb(255, 102, 56);
}
.sec2-container .wifi-icon {
    position: absolute;
    font-size: 30px;
    right: 180px;
    top: 15%;
    color: #e6e2e63b;
    transform: rotate(-50deg);
}
.sec2-container .hand {
    position: absolute;
    right: 0;
    top: 20%;
    width: 170px;
}
.sec3 {
    background-color: #e6e2e6;
    width: 100%;
    height: 1100px;
    display: flex;
    align-items: center;
    
}
.sec3-container {
    width: 85%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sec3-container .product-container .images-container .small-image2 {
    background-color: rgb(253, 103, 76);
}
.sec3-container .product-container .images-container .small-image2 img {
    top: -45%; 
    width: 100%;
}
.sec3-container .product-container .images-container .main-image2 {
    background-color: rgb(253, 103, 76);
}
.sec3-container .product-container .images-container .small-image3 {
    background-color: #ffcb43;
}
.sec3-container .product-container .images-container .small-image3 img {
    top: -14px;
    width: 140%;
    transform: rotate(20deg);
}
.sec3-container .product-container .images-container .main-image3 {
    background-color: #ffcb43;
}
.sec3-container .product-container .images-container .main-image3 img {
    width: 90%; 
    position: absolute; 
    top: -6px;
}
.sec3-container .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-size: 30px;
    font-family: 'Mochiy Pop One', sans-serif;
}
.sec3-container .row .title {
    width: 60%;
}
.sec3-container .row .description {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    color: black;
    font-size: 13px;
    font-weight: 300;
    margin-right: 60px;
}
.sec3-container .product {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -100PX;
}
.sec3-container .product .product-container {
    width: 410px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: c;
    align-items: center;
    text-align: center;
}
.sec3-container .product .images-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.sec3-container .product .small-image {
    width: 100px;
    height: 100px;
    background-color: rgb(67, 155, 111);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.sec3-container .product .small-image img {
    width: 89%;
    position: absolute;
    top: -30px;
}
.sec3-container .product .main-image {
    width: 250px;
    height: 250px;
    background-color: rgb(67, 155, 111);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 4px dashed rgba(255, 255, 255, 0.288);
}
.sec3-container .product .main-image img {
    width: 118%;
}
.sec3-container .product .product-container .caption {
    width: 80%;
    height: 1130px;
    color: rgba(0, 0, 0, 0.897);
    margin-top: 30px;
    font-size: 10px;
    line-height: 4ch;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.button {
    margin: 30px 0;
    transition: 0.7s;
}
.button button {
    padding: 13px 33px;
    border: none;
    background-color: #ffcb43;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
}
.caption .button .nomi-system {
    background-color: rgb(67, 155, 111);
}
.caption .button .easy-transportation {
    background-color: rgb(253, 103, 76);
}
.caption .button .lean-forward {
    background-color: #ffcb43;
}
#read-more:checked ~ .button {
    transform: translateY(-40px);
    opacity: 0;
}
#read-more {
    display: none;

}
.sec3-container .product .product-container .description {
    margin-top: 20px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.63);
    letter-spacing: 0;
    opacity: 0;
    transition: 0.7s;
}
#read-more:checked ~  .description {
    transform: translateY(-90px);
    opacity: 1;
} 

#read-more2:checked ~ .button {
    transform: translateY(-40px);
    opacity: 0;
}
#read-more2 {
    display: none;

}
#read-more2:checked ~  .description {
    transform: translateY(-90px);
    opacity: 1;
} 
#read-more3:checked ~ .button {
    transform: translateY(-40px);
    opacity: 0;
}
#read-more3 {
    display: none;

}
#read-more3:checked ~  .description {
    transform: translateY(-90px);
    opacity: 1;
} 




#aSide model-viewer {
    height: 600px;
    width: 600px;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.568));
    -webkit-filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.568));
}